<!-- Modal Single-->

    

        <!-- Modal content-->
        <div class="modal-content" style="width: 600px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">single person</h4>
            </div>
            <div class="modal-body">
                <p>single person.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button formaction="@Url.Action("Save", "Person")">save</button>
            </div>
        </div>

    

